[Desktop Entry]
Name=Simon Desktop
Exec=simon-desktop
Icon=com.yoshomay.Simon-Desktop
Type=Application
Categories=Game;
Name[en_US]=com.yoshomay.Simon-Desktop.desktop

