body {
    background-color: #222b30;
    color: #bde6fb;
    text-align: center;
}

div {
    background-color: #161c1f;
    border-radius: 15px;
    padding: 13px;
    max-width: fit-content;
    margin: 0 auto;
}

button {
    background-color: #2d3940;
    color: #bde6fb;
    border-color: transparent;
    border-radius: 6px;
    font-size: 100%;
    cursor: pointer;
    z-index: 12;

    &:hover {
        background-color: #35434a;}

    &:active {
        background-color: #415159;}
}



.btnGrid {
    margin: 0 0 0 15%;
    position: absolute;
    z-index: 10;
    display: grid;
    grid-template-columns: auto auto;
    scale: 125%;
}

.gameplayBTN {
    z-index: 11;
    min-width: 150px;
    height: 25px;
    margin: 8px;
    cursor: pointer;
    transition: box-shadow 0.5s ease-out; 
}

.greenBTN {background-color: greenyellow;
    &:active {box-shadow: 0 0 20px rgb(166, 255, 32); transition: none;}}
    .greenBTNGlow {box-shadow: 0 0 20px rgb(166, 255, 32); transition: none;}

.redBTN {background-color: rgb(239, 37, 15);
    &:active {box-shadow: 0 0 20px rgb(239, 37, 15); transition: none;}}
    .redBTNGlow {box-shadow: 0 0 20px rgb(239, 37, 15); transition: none;}

.yellowBTN {background-color: rgb(246, 246, 50);
    &:active {box-shadow: 0 0 20px rgb(255, 251, 137); transition: none;}}
    .yellowBTNGlow {box-shadow: 0 0 20px rgb(255, 251, 137); transition: none;}

.blueBTN {background-color: rgb(29, 108, 255);
    &:active {box-shadow: 0 0 20px rgb(78, 140, 254); transition: none;}}
    .blueBTNGlow {box-shadow: 0 0 20px rgb(78, 140, 254); transition: none;}


darkOverlay {
    display: none;
    //transition: background-color 0.3s ease-in;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 11;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.menuButton {
    position: absolute;
    padding: 20px;
    width: 135px;
    height: 64px;
}

.debug {display: none;}