body {
  background-color: #222b30;
  color: #bde6fb;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: bold;
  overflow: hidden;
}

a {
  color: white;
}

div {
  background-color: #161c1f;
  border-radius: 15px;
  padding: 13px;
  margin: 0 auto;
}

button {
  background-color: #2d3940;
  color: #bde6fb;
  border-color: transparent;
  border-radius: 6px;
  font-size: 100%;
  cursor: pointer;
  z-index: 12;
}
button:hover {
  background-color: #35434a;
}
button:active {
  background-color: #415159;
}

.btnGrid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  position: absolute;
  height: 90%;
  left: 10px;
  bottom: 5px;
}

.gameplayBTN {
  margin: 8px;
  border-radius: 15px;
  cursor: pointer;
  transition: box-shadow 0.5s ease-out;
}

.greenBTN {
  background-color: greenyellow;
}
.greenBTN:active {
  box-shadow: 0 0 30px rgb(166, 255, 32);
  transition: none;
}

.greenBTNGlow {
  box-shadow: 0 0 30px rgb(166, 255, 32);
  transition: none;
}

.redBTN {
  background-color: rgb(239, 37, 15);
}
.redBTN:active {
  box-shadow: 0 0 30px rgb(239, 37, 15);
  transition: none;
}

.redBTNGlow {
  box-shadow: 0 0 30px rgb(239, 37, 15);
  transition: none;
}

.yellowBTN {
  background-color: rgb(246, 246, 50);
}
.yellowBTN:active {
  box-shadow: 0 0 30px rgb(255, 251, 137);
  transition: none;
}

.yellowBTNGlow {
  box-shadow: 0 0 30px rgb(255, 251, 137);
  transition: none;
}

.blueBTN {
  background-color: rgb(29, 108, 255);
}
.blueBTN:active {
  box-shadow: 0 0 30px rgb(78, 140, 254);
  transition: none;
}

.blueBTNGlow {
  box-shadow: 0 0 30px rgb(78, 140, 254);
  transition: none;
}

darkOverlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 15;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.menuButton {
  position: absolute;
  padding: 20px;
  width: 135px;
  height: 64px;
}

.debug {
  display: none;
}

.titleScreenButtonGridContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 800px));
  width: 80%;
  height: 91vh;
  margin: 0 auto;
  background-color: red;
  gap: 15px;
  background: none;
}
.titleScreenButtonGridContainer .col {
  cursor: pointer;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d3940;
}
.titleScreenButtonGridContainer .col:hover {
  background-color: #35434a;
}
.titleScreenButtonGridContainer .col:active {
  background-color: #415159;
}

.randomMenuContainer {
  display: grid;
  grid-template-areas: "left top-right" "left bottom-right";
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  width: 70vw;
  gap: 10px;
  background: none;
}
.randomMenuContainer .col {
  width: 80%;
  padding: 15px;
  background-color: #2d3940;
}
.randomMenuContainer #customSpeedInput {
  grid-area: left;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.randomMenuContainer #customTurnCountInput {
  grid-area: top-right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.randomMenuContainer #customContinueBTN {
  grid-area: bottom-right;
  background-color: #2d3940;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.randomMenuContainer #customContinueBTN:hover {
  background-color: #35434a;
}
.randomMenuContainer #customContinueBTN:active {
  background-color: #415159;
}

input[type=number] {
  background-color: #161c1f;
  color: white;
}

#victoryContainer {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 16;
  position: fixed;
  height: 50vh;
  width: 50vw;
  left: 25%;
  top: 25%;
}
#victoryContainer span button {
  padding: 10px;
  width: 135px;
  height: 64px;
}

.bgBlur {
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

#aboutContainer {
  display: none;
  place-items: center;
  z-index: 16;
  position: absolute;
  background: none;
  left: 35vw;
  top: 1%;
  height: 90vh;
}
#aboutContainer #about2 {
  position: relative;
  max-height: 90vh;
  overflow: auto;
  width: 30vw;
  background-color: #161c1f;
}

#aboutX {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  position: absolute;
  border-radius: 100%;
  cursor: pointer;
  background-color: #2d3940;
  padding: 5px;
  height: 15px;
  width: 15px;
}/*# sourceMappingURL=main.css.map */