body {
    background-color: #222b30;
    color: #bde6fb;
    text-align: center;
    user-select: none;
}

div {
    background-color: #161c1f;
    border-radius: 15px;
    padding: 13px;
    //max-width: fit-content;
    margin: 0 auto;
}

button {
    background-color: #2d3940;
    color: #bde6fb;
    border-color: transparent;
    border-radius: 6px;
    font-size: 100%;
    cursor: pointer;
    z-index: 12;

    &:hover {
        background-color: #35434a;}

    &:active {
        background-color: #415159;}
}



.btnGrid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    position: absolute;
    height: 90%;
    left: 10px;
    //right: 200px;
    bottom: 5px;
}

.gameplayBTN {
    margin: 8px;
    border-radius: 15px;
    cursor: pointer;
    transition: box-shadow 0.5s ease-out; 
}

.greenBTN {background-color: greenyellow;
    &:active {box-shadow: 0 0 30px rgb(166, 255, 32); transition: none;}}
    .greenBTNGlow {box-shadow: 0 0 30px rgb(166, 255, 32); transition: none;}

.redBTN {background-color: rgb(239, 37, 15);
    &:active {box-shadow: 0 0 30px rgb(239, 37, 15); transition: none;}}
    .redBTNGlow {box-shadow: 0 0 30px rgb(239, 37, 15); transition: none;}

.yellowBTN {background-color: rgb(246, 246, 50);
    &:active {box-shadow: 0 0 30px rgb(255, 251, 137); transition: none;}}
    .yellowBTNGlow {box-shadow: 0 0 30px rgb(255, 251, 137); transition: none;}

.blueBTN {background-color: rgb(29, 108, 255);
    &:active {box-shadow: 0 0 30px rgb(78, 140, 254); transition: none;}}
    .blueBTNGlow {box-shadow: 0 0 30px rgb(78, 140, 254); transition: none;}


darkOverlay {
    display: none;
    //transition: background-color 0.3s ease-in;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 15;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.menuButton {
    position: absolute;
    padding: 20px;
    width: 135px;
    height: 64px;
}

.debug {display: none;}

.titleScreenButtonGridContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 800px));
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    background-color: red;
    gap: 15px;
    background: none;
    font-weight: bold;

    .col {
        cursor: pointer;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2d3940;
        //aspect-ratio: 1 / 1;

        &:hover {background-color: #35434a;}
        &:active {background-color: #415159;}
    }
}

.randomMenuContainer {
    display: grid;
    grid-template-areas: 
        "left top-right"
        "left bottom-right";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;

    width: 70vw;
    gap: 10px;
    font-weight: bold;
    background: none;

    .col {
        width: 80%;
        padding: 15px;
        background-color: #2d3940;
    }

    #customSpeedInput {
        grid-area: left;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #customTurnCountInput {
        grid-area: top-right;
        display: flex;
        justify-content: center;
        align-items: center;}

    #customContinueBTN {
        grid-area: bottom-right;
        background-color: #2d3940;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {background-color: #35434a;}
        &:active {background-color: #415159;}}
}

input[type="number"] {
    background-color: #161c1f;
    color: white;
}